* {
    margin: 0;
    padding: 0;
}

@keyframes lines {
    0%, 100% {
        opacity: 0;
    }
    20%, 60%{
        opacity: 1;
    }
    40%, 80%{
        opacity: 0.5;
    }
}

body{
    background: #212121;
}

.timer {
    position: absolute;
    width: 97.92px;
    height: 41.56px;
    bottom: 16px;
    left: 50%;
    transform: translate(-54%);
}

.timer > svg {
    position: absolute;
}

#svg {
    /* position: absolute;
    top: 0;
    left: 0; */
    transform: scale(-1, 1);
}
.line{
    position: absolute;
    height: 76.3px;
    width: 1.3px;
}

.line svg{
    height: 100%;
    width: 100%;
}

.line-s{
    fill:none;
    stroke:#fcceb7;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:1.3px;
}

#leftline{
    top: 50%;
    transform: translate(0, -50%);
    left: 6px;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 4s linear;
}

#rightline {
    top: 50%;
    transform: translate(0, -50%);
    right: 6px;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 4s linear;
}

#leftline.show, #rightline.show {
    animation: lines 20s linear infinite;
}

.cls-1 {
    fill:none;
    stroke:#fcceb7;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 600ms linear;
}

.cls-1.blur{
    stroke-dashoffset: 0;
    filter: blur(5px);
    opacity: 0;
    animation: lines 20s linear infinite;
}

.cls-1.hidden {
    display: none;
}

#webcam{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 720px;
    height: 400px;
    background: url("/static/images/baseframe.png");
    transform: scale(.75) translate(120px, 65px)
}

#webcam > div {
    position: absolute;
}

#frame{
    position: absolute;
    right: 280px;
    bottom: 300px;
    transform: translate(50%, 0);
}

/* #base {
    z-index: -1;
} */
#coin, #logosubgoal, #ticket {
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-56%)
}

.hidden {
    display: none;
}